.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #cccc;
    padding: 20px 30px;
    border-radius: 10px;

    .Logo {
      font-weight: bold;
      font-size: 24px;
    }

    .Title {
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        width: 250px;
      }

      button {
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        border: none;
      }
    }

    p {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}