.Chat {
  display: flex;
  flex-direction: column;
  flex: 2;

  .ChatNavbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    height: 50px;
  }

  .Content {
    padding: 10px;
  }
}